[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppProgress"]
	path = RcppProgress
	url = https://github.com/kforner/rcpp_progress
